@import url(./footer.css);
@import url(./moder.viewer.css);
@import url(./header.css);
@import url(./info.css);
@import url(./servicios.css);
@import url(./porquear.css);
@import url(./catalogos.css);
@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 

@font-face {
    font-family: noto;
    src: url(../Font/noto/NotoSansJP-Bold.otf);
}


@font-face {
    font-family: noto3;
    src: url(../Font/noto/NotoSansJP-Black.otf)
}

@font-face {
    font-family: noto2;
    src: url(../Font/noto/NotoSansJP-Light.otf)
}


@font-face {
    font-family: nova2;
    src: url(../Font/Proxima\ Nova\ Font.otf);
}

@font-face {
    font-family: impact;
    src: url(/Font/Qatar2022Arabic-Bold.ttf);
}

@font-face {
    font-family: opensanz;
    src: url(../Font/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family:questrial ;
    src: url(../Font/Questrial-Regular.ttf);
}
/*seccion header*/




/*seccionInfo*/

#row-services{
    padding: 0!important;
    margin: 0 !important;
}
#info-sectores {
    margin-top: 50px;
    text-align: center;
    color: #A606AB !important;
    ;
}

#sectores-titulo {
    font-size: 50px;
}

#tarjetas-impacto {
    margin: 15px;
}

#card-impacto {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(35, 46, 177, 1) 0%, rgba(37, 9, 121, 1) 0%, rgba(98, 57, 194, 1) 0%, rgba(100, 53, 170, 1) 0%, rgba(115, 52, 165, 1) 0%, rgba(34, 26, 132, 1) 0%, rgba(129, 8, 117, 1) 0%, rgba(173, 94, 165, 1) 100%, rgba(254, 254, 254, 1) 100%, rgba(233, 106, 119, 1) 100%, rgba(162, 49, 148, 1) 100%, rgba(59, 83, 196, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
    font-family: nova2;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#h-sectores{
    color: #98FFCC!important;
}

#img-sectores{
    height: 100px;
    width: 100px;
}

#col-servicios{
    padding: 0 !important;
}

/*seccionporque ar*/

#porque-ra{
    text-align: center;
    color: #A606AB;
}

#ar-h3{
    color: black !important;
    font-family: nova;
    margin-top: 80px;
}

#ar-h2 {
    color: #A606AB;
    margin-top: 80px;
}

#h-ar {
    color: black !important;
}

#tarjetas-porquear {
    margin-top: 80px;
    margin-bottom: 80px;
}

/**/

#logovanguardia {
    width: 170px;
    height: 100px;
}

#logozamibia{
    width: 250px;
    height: 150px;
}
#logoancora{
    width: 250px;
    height: 200px;
}

#logopalets {
    width: 220px;
    height: 150px;
}
#zamibiadeco{
    color:  #d4c4b4 !important;
}

#texto-centrado{
    text-align: center !important;
    color:  #d4c4b4 !important;
}