
footer{
    background: linear-gradient(135deg,#7611b6,50%,#c86dd7);
    padding: 0 !important;
    height: 100px;
    text-align: center;
    height: 100px;
    font-family:noto;
    color: white;
    text-align: center;
    justify-content: center;
    
}