
footer{
    background-color: #7611b6;
    padding: 0 !important;
    height: 100px;
    text-align: center;
    height: 100px;
    font-family:noto;
    color: white;
    text-align: center;
    justify-content: center;
    
}