/*seccion header*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}


.navbar {
    background-color:white;
    padding: 0 !important;
}

#logo {
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
    text-align: center;
    font-family: nova2;
}

.navbar-nav li a {
    color: #2e2e3d !important;
}

.fa-bars {
    color:  #2e2e3d;
    font-size: 30px;
}

@media screen {
    @media screen and (max-width: 1050px) {
        .promo-titulo{
            font-size: 20px;
            text-align: center;
            
            
        }
      } 
}
@media screen {
    @media screen and (max-width: 750px) {
        .promo-titulo{
            font-size: 10px;
            text-align: center;
            
            
        }
      } 
}

#promo{
    font-size: 20px;
    margin-top: -100px;
    text-align: center;
    align-items: center;
}

.boton-contacto {
    background-color:white;
    text-decoration: none;
    color: #2e2e3d;
    font-size: 25px;
    font-family: questrial;
    justify-content: center;
    height: 40 px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    border: 6px solid  #2e2e3d;;

}



@media screen {
    @media screen and (max-width: 750px) {
        .boton-contacto{
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px; 
            width: 200px;              
        }
      } 
}

@media screen {
    @media screen and (max-width: 500px) {
        .boton-contacto{
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px; 
            width: 150px;               
        }
      } 
}