#logosantorini {
    width: 150px;
    height: 150px;
}

#logocebala{
    width: 150px;
    height: 150px;
}
#logozamibia{
    width: 250px;
    height: 150px;
}
#logozamibia2{
    width: 200px;
    height: 120px;
}
#logoancora{
    width: 250px;
    height: 200px;
}

#logopalets {
    width: 220px;
    height: 150px;
}