#video {
    width: 100%;
    height: 370px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #video{
            margin-top: -90px;          
        }
      } 
}

@media screen {
    @media screen and (max-width: 500px) {
        #tarjetas-porquear{
            margin-top: -80px !important;          
        }
      } 
}
