#nav-bar-index{
   background:#7611b6 !important;
   color: white;
}

#nav-link{
    color: white!important;
    font-family: noto2;
}

b{
    color:black;
    font-family: nova2;
    font-size: 20px;
}

#h1-enpaginas {
    font-family: noto3;
}
#h2-enpaginas {
    color: white;
    font-size: 18px;
    margin-top: 50px;
    font-family: noto2;
}

#h2-nosotros {
    font-family: noto3;
    color: #A606AB;
    text-align: center;
    font-size: 33px;
    padding: 40px;
}
.titulos-h2 {
    color: #A606AB !important;
    margin-top: 30px;
    
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: nova;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen {
    @media screen and (max-width: 500px) {
        .titulos-h2{
            font-size: 20px;         
        }
      } 
}

.parrafos{
    font-family: opensanz;
}

#titulos-h3 {
    color: #A606AB !important;
    margin-top: 30px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #contenido-catalogos{
            width: 100%;
            text-align: center; 
            align-items: center;          
        }
      } 
}
@media screen {
    @media screen and (max-width: 500px) {
        .titulos-h2{
            text-align: center; 
            align-items: center;          
        }
      } 
}

#fondo {
    background-color:white;
    width: 100%;
    border-color: transparent;
}

#card-gruop{
    margin: 0;
    padding: 0;
}
/*seccion banner*/

#banner {
    background-color: #fff !important;
    color: #fff;
    padding-top: 5%;
}

#banner-index {
    background-color: #7611b6 !important;
    color: #fff;
    padding-top: 5%;
}


.promo-titulo {
    font-size: 25px;
    font-weight: 600;
    margin-top: 100px;
}


/*seccion banner*/

/* ESTILOS TARJETAS CLIENTES*/
#info-clientes{
    text-align: center;
    
}

.p-clientes{
    margin-top: 10px;
    font-family: nova;
    font-size: 20px;
    color: #2e2e3d;
}

.h1-clientes {
    font-family: questrial;
    color: #8a94ac;
}

/* Botones*/
.button8-module--primary--7x3tp {
    border-radius: 5rem;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
    transition: all .3s ease;
    margin: 4px;
    color: #fff!important;
    background: linear-gradient(135deg,#7611b6,50%,#c86dd7);  
}


.botones-paginas {
    border-radius: 5rem;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
    transition: all .3s ease;
    margin: 4px;
    color: #d4c4b4 !important;
    background:#2d2e43;  
}

#ar-button {
    background-color:#2d2e43; 
    border-radius: 4px; 
    border: none; 
    position: absolute; 
    top: 16px; right: 2px;
    color: white;
}
/* ESTILOS PORQUE AR*/

#impacto {
    background-color: #7611b6;
}

.h2-participacion {
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-top: 100px;
    font-family: noto;
    
}
#img-promedio {
    min-width: 300px;
}
 #p-promedio {
    font-family: nora;
    font-size: 20px;
    margin-top: 50px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 @media screen {
    @media screen and (max-width: 500px) {
        .h2-participacion{
            text-align: center;
                   
        }
      } 
}
@media screen {
    @media screen and (max-width: 500px) {
        #p-promedio{
            text-align: center;
            font-size: 15px;
            width: 320px;
                   
        }
      } 
}

@media screen {
    @media screen and (max-width: 500px) {
        #img-promedio{
            width: 100%;
        }
      } 
}
@media screen {
    @media screen and (max-width: 1000px) {
        #img-promedio{
            width: 100%;
        }
      } 
}


/* ESTILOS PORQUE AR*/

#titulos-servicios {
    color: #A606AB !important;
    font-family: noto;
}

/* Pagina nosotros*/


#img-nosotros {
    justify-content: center;
    text-align: center;
    margin-top: -50px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #img-nosotros{
            width: 150px;
            height: 180px;
            margin-left: 50px;
            margin-top: 3px;
            
        }
      } 
}
#p-nosotros{
    text-align: center;
    
}

#contenedor-nosotros{
    justify-content: center;
    
    font-family: noto2;
   
}
#sobre-nosotros{
    height: 400px;
}

#img-diseñadores {
    width: 150px;
    height: 150px;
    
}

#columnas-centradas{
    padding: 0!important;
    margin: 0!important;
    text-align: center;
}
#nosotros-banner {
    width: 100%;
    background-color: #7611b6;
    color: #fff;
    height: 400px;
    margin-top: 40px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #nosotros-banner{          
            height: 750px;                      
        }
      } 
}

#h2-equipo {
    font-family: noto3;
    color: white;
    text-align: center;
    font-size: 33px;
    padding: 40px;
}

#p-realidad{
    font-family: noto2;
    font-size: 20px;
    margin-top: 50px;
    color: #7611b6;
    margin-left: 30px;
    margin-right: 30px;
}
@media screen {
    @media screen and (max-width: 500px) {
        #p-realidad{          
            font-size: 15px; 
            margin-top: 50px;           
        }
      } 
}
#video-realidad{
    width: 100%;
    min-width: 300px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #video-realidad{          
            width: 300px;
            text-align: center;
            margin-bottom: 30px;            
        }
      } 
}


#ar-h2 {
    color: #A606AB;
    margin-top: 80px;
    margin-bottom: 80px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #ar-h2{          
            margin-top: 15px;
            margin-bottom: -30px;            
        }
      } 
}

#imagenes-realidad {
    width: 350px;
    height: 350px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #imagenes-realidad{          
            width: 300px;
    height: 300px;           
        }
      } 
}
#columnas-realidad {
    margin-top: 50px;
    margin-bottom: 50px;
}

#contenedor-formulario{
    margin-bottom: 100px;
}

#mensaje_contacto{
    background-color:white;
    margin-right: 40px;
}

#submit{
    background-color: #2d2e43;
    color: white;
}