.titulos-h2 {
    color:#C100B5;
    margin-top: 30px;
    
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: nova;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen {
    @media screen and (max-width: 500px) {
        .titulos-h2{
            font-size: 20px;         
        }
      } 
}

.parrafos{
    font-family: opensanz;
}

#titulos-h3 {
    color: #C100B5;
    margin-top: 30px;
}

@media screen {
    @media screen and (max-width: 500px) {
        #contenido-catalogos{
            width: 100%;
            text-align: center; 
            align-items: center;          
        }
      } 
}
@media screen {
    @media screen and (max-width: 500px) {
        .titulos-h2{
            text-align: center; 
            align-items: center;          
        }
      } 
}

#fondo {
    background-color:white;
    width: 100%;
    border-color: transparent;
}

#card-gruop{
    margin: 0;
    padding: 0;
}
/*seccion banner*/

#banner {
    background-color: #fff;
    color: #fff;
    padding-top: 5%;
}

.promo-titulo {
    font-size: 25px;
    font-weight: 600;
    margin-top: 100px;
}





.boton-img {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(35, 46, 177, 1) 0%, rgba(37, 9, 121, 1) 0%, rgba(98, 57, 194, 1) 0%, rgba(100, 53, 170, 1) 0%, rgba(115, 52, 165, 1) 0%, rgba(34, 26, 132, 1) 0%, rgba(129, 8, 117, 1) 0%, rgba(167, 2, 155, 1) 100%, rgba(233, 106, 119, 1) 100%, rgba(162, 49, 148, 1) 100%, rgba(59, 83, 196, 1) 100%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
}


/*seccion banner*/

/* ESTILOS TARJETAS CLIENTES*/
#info-clientes{
    text-align: center;
    
}

.p-clientes{
    margin-top: 10px;
    font-family: questrial;
    font-size: 20px;
    color: #2e2e3d;
}

.h1-clientes {
    font-family: nova;
    color: #8a94ac;
}
